/* import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Inline&family=Bungee+Shade&family=Gugi&family=Lato:wght@100&family=Permanent+Marker&family=Roboto+Mono:wght@100&family=Roboto:wght@100&family=Sofia&display=swap');

/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

;:root{
    --main-font:'Source Sans Pro', sans-serif;
    --secondary-font:'Herr Von Muellerhoff', cursive;
    --body-font: 'Cubin', sans-serif;
    --main-font-color-dark:black;
    --secondary-font-color:#515151;
    --body-font-color:black;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

section{
    padding: 3.9rem 0;
}

img{
    width: 100%;
    max-width: 100%;
    opacity:90%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
    text-align: ;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/*header*/

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.nav{
height: 15rem;
display: flex;
align-items: center;
justify-content: center;
}

.menu-toggle{
    color: black;
    font-size: 2.2rem;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 2.5rem;
cursor: pointer;
z-index: 1500;
}

.fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before{
content: '';
position: fixed;
top: 0;
left:0;
width: 100vh;
height:100vh;
background-color: rgba(0,0,0,.8);
z-index: 1000;
opacity: 0;
transform: scale(0);
transition: opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid rgba(225, 225, 225, .3);
}

.nav-link{
    display: block;
    color:black;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
    font-family: gugi;
    font-size: 1rem;
}

.nav-link:hover{
    color:goldenrod;
}

/*Hero*/

.hero{
    width: 100%;
    height: 100vh;
    background: url(https://i.imgur.com/W1rsNmH.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline{
    font-size: 8.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #181818;
    font-weight: 100;
    line-height: .7;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeup .5s forwards;
    animation-delay: .5s;
}

.frist-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
}

.headline{
columns: #181818;
font-size: 3.7rem;
font-family: gugi;
text-transform: uppercase;
font-weight: 900;
letter-spacing: .5rem;
margin-right: -.5rem;
animation: scale .5s forwards;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;

}

.line{
    width: 100%;
    max-width: 8.4rem;
    height:  .25rem;
    background-color: #181818;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    border: .6rem solid transparent;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before{
    border-right-color: #181818;
right: 0;
}

.line-left::before{
    border-left-color: #181818;
    left: 0;
}

.asterisk{
    font-size: 1.2rem;
    color: goldenrod;
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin 15s forwards;
    animation-delay: .5s;

}

.single-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5{
    color: #181818;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn{
    font-size: 1.1rem;
    background-color: #181818;
    padding:  .9rem 1.8rem;
    color: white;
    border-radius: .4rem;
    transition: backround-color .5s;
}

.cta-btn:hover,
.cta-btn:focus{
    color:rgb(218, 165, 32) ;
    background-color:'';
}
